@font-face {
  font-family: 'FontAwesome';
  font-style: 'normal';
  font-weight: 'normal';
  src: url('http://weloveiconfonts.com/api/fonts/fontawesome/fontawesome-webfont.eot');
  src: url('http://weloveiconfonts.com/api/fonts/fontawesome/fontawesome-webfont.eot?#iefix') format('eot'), url('http://weloveiconfonts.com/api/fonts/fontawesome/fontawesome-webfont.woff') format('woff'), url('http://weloveiconfonts.com/api/fonts/fontawesome/fontawesome-webfont.ttf') format('truetype'), url('http://weloveiconfonts.com/api/fonts/fontawesome/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
}
.fontawesome-ok:before {
  content: "\f00c";
}
.fontawesome-chevron-down:before {
  content: "\f078";
}
.fontawesome-double-angle-down:before {
  content: "\f103";
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.gradient(@start, @end) {
  background: @start;
  background-image: -ms-linear-gradient(top, @start 0%, @end 100%);
  background-image: -moz-linear-gradient(top, @start 0%, @end 100%);
  background-image: -o-linear-gradient(top, @start 0%, @end 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, @start), color-stop(1, @end));
  background-image: -webkit-linear-gradient(top, @start 0%, @end 100%);
  background-image: linear-gradient(to bottom, @start 0%, @end 100%);
}

.transition(@value) {
  -moz-transition: @value;
  -o-transition: @value;
  -webkit-transition: @value;
  transition: @value;
}

.alt-checkbox-dress {
  display: inline-block;
  .gradient(#fbfbfb, #ededed);
  border-radius: .2em;
  box-shadow: 0 0 0 1px #ccc;
  font-size: .8em;
  height: 1em;
  outline: none;
  position: relative;
  width: 1em;

  &:hover,
  &:focus {
    box-shadow: 0 0 3px 1px #ccc;
  }

  &:before {
    color: #999;
    display: block;
    height: 1em;
    left: 0;
    line-height: 1em;
    position: absolute;
    top: 0;
    text-shadow: 1px 1px 0 #fff;
    text-align: center;
    visibility: hidden;
    width: 1em;
  }

  &.checked:before {
    visibility: visible;
  }

  &:focus {
    outline: none;
  }

}

.alt-checkbox-dress,
.alt-checkbox-label {
  &.small {
    font-size: .8em;
    line-height: .8em;
  }

  &.medium {
    font-size: 1.6em;
    line-height: 1.6em;
  }

  &.big {
    font-size: 2.4em;
    line-height: 2.4em;
  }
}
