.alt-checkbox-dress {
  display: inline-block;
  background: #fbfbfb;
  background-image: -ms-linear-gradient(top, #fbfbfb 0%, #ededed 100%);
  background-image: -moz-linear-gradient(top, #fbfbfb 0%, #ededed 100%);
  background-image: -o-linear-gradient(top, #fbfbfb 0%, #ededed 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fbfbfb), color-stop(1, #ededed));
  background-image: -webkit-linear-gradient(top, #fbfbfb 0%, #ededed 100%);
  background-image: linear-gradient(to bottom, #fbfbfb 0%, #ededed 100%);
  border-radius: .2em;
  box-shadow: 0 0 0 1px #ccc;
  font-size: .8em;
  line-height: 100%;
  outline: none;
  position: relative;
  text-decoration: none;
}
.alt-checkbox-dress:hover,
.alt-checkbox-dress:focus {
  box-shadow: 0 0 3px 1px #ffce73;
}
.alt-checkbox-dress:before {
  display: block;
  padding: .05em;
  position: relative;
  text-shadow: 0px 1px 0 #fff;
  visibility: hidden;
}
.alt-checkbox-dress.outline-unchecked:before {
  color: #eee;
  visibility: visible;
}
.alt-checkbox-dress.checked:before {
  color: #999;
  visibility: visible;
}
.alt-checkbox-dress:focus {
  outline: none;
}
.alt-checkbox-dress.small,
.alt-checkbox-label.small {
  font-size: .8em;
}
.alt-checkbox-dress.medium,
.alt-checkbox-label.medium {
  font-size: 1.6em;
}
.alt-checkbox-dress.big,
.alt-checkbox-label.big {
  font-size: 2.4em;
}
